@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pixelify+Sans:wght@400..700&display=swap');

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background: linear-gradient(135deg, #f9f9fc, #e6f0ff);
    color: #6b7280;
    padding: 24px;
    border-radius: 16px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}

h1 {
    color: #374151;
    font-size: 40px;
    font-family: "Pixelify Sans", sans-serif;
}

h2 {
    color: #374151;
    font-size: 32px;
    font-family: "Pixelify Sans", sans-serif;
}

h3 {
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
}

p {
    font-size: 16px;
}

.duck {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    font-size: 24px;
}

.pet-infos {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pet-status,
.buttons-controls {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.pet-status {
    flex-direction: column;
    gap: 24px;
}

.pet-status-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media (max-width: 380px) {
    .buttons-controls {
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "title title"
            "pet status"
            "buttons buttons";
        padding: 80px 240px 80px 240px;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 80px;
    }

    .duck {
        width: 300px;
        height: 300px;
    }

    h1 {
        font-size: 64px;
        grid-area: title;
    }

    h2 {
        font-size: 56px;
    }

    h3, 
    p {
        font-size: 40px;
    }

    .pet-infos {
        grid-area: pet;
    }

    .pet-status {
        grid-area: status;
    }

    .buttons-controls {
        grid-area: buttons;
        gap: 32px;
    }
}

@media (min-width: 1200px) {
    main {
        gap: 80px 240px;
    }
}
