.button-controls {
    text-transform: uppercase;
    background: linear-gradient(135deg, #fcd34d, #f472b6);
    color: #000;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

.button-controls:hover {
    background-color: #FFD93D;
}
