.modal-container {
    margin: 0;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    color: #374151;
    background: linear-gradient(135deg, #f9f9fc, #e6f0ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    background: linear-gradient(135deg, #EAF6FF, #F3E7FF);
    padding: 40px;
}

.modal-image {
    width: 40%;
    height: auto;
    border-radius: 16px;
}