.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 24px;
    gap: 40px;
    border-radius: 16px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}

.pet-image {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    font-size: 24px;
}

.pet-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.pet-status,
.buttons-controls {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.pet-status {
    flex-direction: column;
    gap: 24px;
}

.pet-status-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media (max-width: 380px) {
    .buttons-controls {
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .game {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr fr fr fr fr;
        grid-template-areas:
            "title title"
            "pet status"
            "buttons buttons"
            "calendar calendar";
        margin: 0 auto;
        padding: 40px;
        gap: 24px 80px;
    }

    .pet-image {
        width: 240px;
        height: 240px;
    }

    .pet-infos {
        grid-area: pet;
    }

    .pet-status {
        grid-area: status;
    }

    .buttons-controls {
        grid-area: buttons;
        gap: 32px;
    }

    .calendar-container {
        grid-area: calendar;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .game {
        padding: 40px;
        margin: 0 auto;
    }
}
